@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Nunito:wght@300;700&display=swap');

/* Section CSS */
body{
    background-color: purple;
}

.menu{
    background-color: palegoldenrod;
    position:relative;
    width: 550px;
    height:300px;
    padding:10px;
}

.snacks{
    background-color: aqua;
    position: absolute;
    left: 10px;
    width: 200px;
}

.burgers{
    position: absolute;
    right: 10px;
    width: 200px;
}

.dishes{
    position: absolute;
    left: 10px;
    top: 300px;
    width: 200px;
}

.desserts{
    position: absolute;
    right: 10px;
    top: 300px;
    width: 200px;
}

/* Text CSS */
h1{
    font-family: 'Nabla', cursive;
    text-align: center;
}

li{
    font-family: 'Nunito', sans-serif;
}